@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  margin:0 auto;
  padding:0;
}

body {
  background-color: #F3F4F6;
  color:#111827;
  text-align:center;
  font-family: 'Poppins', sans-serif;
}

/* LAYOUTS */
header,
footer {
  height:100px;
}


.container {
  height:100vh;
  width:100%;
  display:grid;
  place-content: center;
}

.main-wrapper {
  width:550px;
  height:1020px;
  background-color:#DDD6FE;
  border-radius:10px;
  box-shadow:  15px 15px 60px #d3ccf2,
             -15px -15px 60px #ffffff;
}

.password-container,
.copy-btns-container{
  position:relative;
  display: grid;
  margin-bottom:10px;
  width:100%;
  padding-left:35px;
  padding-right:35px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  column-gap:auto;
}

.password-container,
.copy-btns-container {
  top:70px;
}

.slider-container {
  height:70px;
  border-radius:10px;
  background-color:#C4B5FD;
  width:446px;
}

.settings-container {
  display:grid;
  place-content: center;
}


.inputs-container {
  margin:30px 0;
  background-color:#C4B5FD;
  padding:15px;
  border-radius:10px;
  position:relative;
  display: flex;
  margin-bottom:10px;
  width:446px;
}



/* TYPOGRAPHY */
h1 {
  text-align:left;
  margin-top:115px;
  margin-left:52px;
  font-size:40px;
}

.settings-header {
  font-size:16px;
  font-weight:100;
  text-align:right;
  padding-right:20px;
  padding-top:10px;
  
}

.coloured-title{
  display:block;
  margin-top:-10px;
  color:#4C1D95;
}

.paragraph {
  text-align:left;
  margin-left:52px;
  margin-top:10px;
  margin-bottom:20px;
  color:#6D28D9;
  font-style:italic;
}

.toggle-label {
  font-size:18px;
  font-weight:100;
  padding-top:4px;
  padding-left:160px;
}

/* BUTTONS */
#generate-ps-btn  {
  width:191px;
  height:42px;
  background-color:#6D28D9;
  border:none;
  color:#DDD6FE;
  border-radius:10px;
  font-size:16px;
  margin-top:20px;
  margin-left:52px;
  float:left;
  cursor:pointer;
  transition:300ms;
}

#generate-ps-btn:hover {
  background-color:#ebe7fd;
  color:#6D28D9;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}


.copy-btn {
  height:39px;
  width:211px;
  border-radius:10px;
  background-color:#ffffff;
  cursor:pointer;
  border:none;
  transition:300ms;
  font-size:16px;
}

.copy-btn:hover {
  background-color:#ebe7fd;
  color:#6D28D9;
}

/* COMPONENTS */
.line {
  height:1px;
  width:446px;
  background-color:#C4B5FD;
  position:relative;
  left:0;
  top:100px;
}

#slider {
	width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:10px;
  padding:5px;
  outline:none;
	cursor: pointer;
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  height: 2px; 
  border-radius:10px;
  background: #ffffff; 
  outline: none; 
  opacity: 0.7; 
  -webkit-transition: .2s; 
  transition: opacity .2s;
}

#slider:hover {
  opacity: 1; 
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
#slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; 
  height: 25px; 
  background: #6D28D9;
  cursor: pointer; 
  border-radius:100%;
}

#slider::-moz-range-thumb {
  width: 25px; 
  height: 25px; 
  background: #6D28D9; 
  cursor: pointer; 
}


#password-el1,
#password-el2 {
  min-height:39px;
  width:211px;
  word-break: break-all;
  padding:10px;
  border-radius:10px;
  background-color:#C4B5FD;
  text-align:center;
}

.toggle {
  position : relative ;
  display : inline-block;
  width: 60px;
  height: 34px;
  background-color: #c5c1d3;
  border-radius: 34px;
  border: 2px solid #b2aebf;
  cursor:pointer;
}

.toggle:after {
  content: '';
  position: absolute;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  background-color: #fff;
  top: 2px;
  left: 2px;
  transition:  all 0.5s;
}

.checkbox:checked + .toggle::after {
  left : 27px;
}

.checkbox:checked + .toggle {
  background-color: #6D28D9;
}
.checkbox {
  display : none;
}

/* MEDIA QUERY */


